
body{
    min-height: 100vh;
    background: url(../img/search3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
}