body{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    /*background: url(../img/background.jpg) no-repeat;*/
    /*background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;*/
    color: var(--text-color);

    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

/* ---------------   */
/* THE SECTIONS PART */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}

section:nth-child(even) { 
    /* This is to intercalate diferent background colors among sections*/
    background: #323946;
}

/* This is specifically for the section with the class "sectionhome" */
.sectionhome{
    font-size: 1em;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}
