 /* THIS SECTION IS FOR SCROLLBAR */
 body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #640e2f;
}
/* END OF SCROLLBAR SECTION */